{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Востребованность{% endblock %}

{% block content %}
    <h2>География</h2>

    <p>Уровень зарплат по городам</p>
    <img src="{% static 'demand/img/заглушка график.jpg' %}">

    <p>Доля вакансий по городам</p>
    <img src="{% static 'demand/img/заглушка график.jpg' %}">

    <p>Уровень зарплат по городам</p>
    <table border="1" class="dataframe">
        <thead>
        <tr>
            <th>Год</th>
            <th>Количество вакансий</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>2023</th>
            <th>2023</th>
        </tr>
        </tbody>
    </table>

    <p>Доля вакансий по городам</p>
    <table border="1" class="dataframe">
        <thead>
        <tr>
            <th>Год</th>
            <th>Количество вакансий</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>2023</th>
            <th>2023</th>
        </tr>
        </tbody>
    </table>

{% endblock %}