{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Востребованность{% endblock %}

{% block content %}
    <h2>Последние вакансии</h2>
    <h3>#TODO:</h3>
    <p>При посещении страницы, необходимо выгружать из API HH в реальном
        времени IT-вакансии соответствующие выбранной профессии за последние
        24 часа (максимум 10 штук, отсортированных по дате публикации вакансии).
        Элементы списка должны содержать следующие поля:
Название вакансии;
Описание вакансии (*повышенная сложность, требует доп. GET-запроса);
Навыки (в строку, через запятую) (*повышенная сложность, требует доп. GET-запроса);
Компания;
Оклад;
Название региона;
Дату публикации вакансии.</p>
{% endblock %}