{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <h2>Кто такой iOS-разработчик, что умеет и сколько зарабатывает</h2>
    <p>Среди программистов отдельно выделяют мобильных разработчиков — тех, кто пишет приложения для смартфонов, планшетов и других подобных устройств.
              iOS-разработчик, или iOS developer, — это программист, который пишет сервисы и программы для айфонов. Из-за особенностей устройств Apple и их операционной системы для них нужно писать специальный код.

              Основной язык, на котором пишут код iOS-разработчики, — Swift. Apple разработала его специально для своих устройств в 2014 году. По сравнению с языком Objective-C, который использовали раньше, он более быстрый, простой и устойчивый к ошибкам.

              Чтобы писать на языке Swift, нужна специальная среда разработки — Xcode. Она корректно работает только на устройствах Apple: MacBook, iMac, Mac Pro, Mac Studio, Mac mini.

              iOS-разработчики пишут все сервисы, которые можно скачать в Apple Store. Игры, банковские приложения, заметки, службы доставки — результат труда iOS-разработчиков. Без них не обойтись ни одной компании, которая хочет адаптировать свои сервисы для устройств Apple.</p>
    <img src="{% static 'main/img/apple-black.jpg' %}">

{% endblock %}