{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,200;1,600&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body class="page">
    <header class="page-header">
        <div class="services">
            <div class="services-content">
                <span class="openbtn" onclick="openNav()">☰ IOS-разработчик</span>

                <p class="caption">Тема</p>
                <ul class="theme-switcher">
                <li>
                    <button class="theme-button-dark" type="button">🌚</button>
                </li>
                <li>
                    <button class="theme-button-light active" type="button">🌝</button>
                </li>
                </ul>
            </div>
        </div>
    </header>

    <aside id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <h3>Содержание</h3>
      <a href="{% url 'home' %}">Главная</a>
      <a href="{% url 'demand_home' %}">Востребованность</a>
      <a href="{% url 'geography_home' %}">География</a>
      <a href="{% url 'skills_home' %}">Навыки</a>
      <a href="{% url 'vacancies_home' %}">Последние вакансии</a>
    </aside>


    <main class="main-content">
      <div class="content">
          {% block content %}
          {% endblock %}
      </div>
    </main>

    <footer class="main-footer">
      <div class="footer-container">
        <div class="footer-column">
          <p class="">Проект на Django:</p>
          <p class="">Бондаренко Дмитрий Андреевич</p>
          <p>РИ-220934</p>
        </div>
        <ul class="footer-navigation-topics">
          <li class="footer-navigation-topic">
            <h2>Ссылки</h2>
            <ul class="footer-navigation">
              <li class="footer-navigation-item">
                <a href="https://github.com/DimitryBond/My-django-site">ГитХаб</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </footer>
    <script src="{% static 'main/js/Sidenav.js' %}"></script>
    <script src="{% static 'main/js/themes.js' %}"></script>
</body>
</html>