body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    background-color: #000000;

}

/* header */
.page-header {
    margin-bottom: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.services {
    background-color: #000000;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    border-bottom: 1px solid #0a8af6;
}

.services-content {
    display: flex;
    justify-content: right;
    align-items: center;
    width: auto;
    margin: 0 auto;
}

.openbtn {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 25px;
    margin-right: auto;
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.openbtn:hover {
    opacity: 0.8;
}

.openbtn:active {
    opacity: 0.5;
}

.caption {
    margin: 0;
    margin-right: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}


.wrapper {
    display: flex;
    flex-direction: column;
}

.conteiner{
    display: flex;
    flex: none;
    margin: 110px 0px 0px 0px;
    padding: 0;
}

/* aside */


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    padding-top: 30px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #0a8af6;
    display: block;
    transition: 0.3s;
}

.sidenav h3 {
    padding: 15px;
    margin: 0;
    font-size: 22px;
    line-height: 30px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* main-content */

.main-content {
    margin: 0 auto;
    padding: 0px;
    font-size: 16px;
    line-height: 24px;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: #1c1c1e;
    border-radius: 50px;
    margin: 40px 40px;
    padding: 10px 30px;
}

.content h2{
    padding-top: 10px;
    padding-bottom: 0px;
    text-align: center;
}

.content p{
    padding-top: 0px;
    padding-bottom: 20px;
    text-align: center;
}



/* footer */

.main-footer {
    padding-top: 15px;
    padding-bottom: 15px;

    font-size: 14px;
    line-height: 12px;
    border-top: 1px solid #5f99ff;

}

.footer-container {
    margin: 0 auto;
    padding-left: 55px;
    display: flex;
    /*justify-content: space-between;*/
}





