body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    background-color: #141414;

}

/* header */
.page-header {
    margin-bottom: 0px;
}

.services {
    background-color: #000000;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    border-bottom: 1px solid rgb(95, 153, 255);
}

.services-content {
    display: flex;
    justify-content: right;
    align-items: center;
    width: auto;
    margin: 0 auto;
}

.profession {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 25px;
    margin-right: auto;
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.profession:hover {
    opacity: 0.8;
}

.profession:active {
    opacity: 0.5;
}

.caption {
    margin: 0;
    margin-right: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}


.wrapper {
    display: flex;
    flex-direction: column;
}

.conteiner{
    display: flex;
}

/* aside */
aside {
    float: left;
    background-color: #000000;
    width: 20%;
    color: #ffffff;
    border-right: 1px solid #5f99ff;
    margin-right: 40px;
}

.nav {
    padding: 10px 10px;
}

.nav h3 {
    /*padding-top: 0px;
    padding-bottom: 1px;*/
    padding-left: 15px;
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    color: #ffffff;
}

.nav ul {
    width: 18%;
    list-style: none;
    padding-left: 40px;
}

.nav ul li {
    color: #5f99ff;
}

/* main-content */

.main-content {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    line-height: 24px;
}

.content {
    width: 65vw;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    border-radius: 50px;
    margin: 40px 40px;
    padding: 10px 30px;
}

.content h2{
    padding-top: 10px;
    padding-bottom: 0px;
    text-align: center;
}

.content p{
    padding-top: 0px;
    padding-bottom: 20px;
    text-align: center;
}



/* footer */

.main-footer {
    padding-top: 15px;
    padding-bottom: 15px;

    font-size: 14px;
    line-height: 12px;
    border-top: 1px solid #5f99ff;

}

.footer-container {
    margin: 0 auto;
    padding-left: 55px;
    display: flex;
    /*justify-content: space-between;*/
}